{% extends "network/layout.html" %}

{% block body %}
    <br>
    <!-- Jumbotron -->
    <div class="jumbotron text-center mx-2 mb-5">

        <!-- Title -->
        <h2 class="card-title h2">THIS IS YOUR ITINERARY HOMEPAGE</h2>
        <!-- Subtitle -->
        <p class="my-4 h6">View your Productivity or Leisure Itineraries here.</p>
        <br> <br>
        <img src="https://www.sentosa.com.sg/-/media/sentosa/article-listing/articles/2020/swimming-in-sentosa/swimmmingatsentosamain.jpg?revision=88869462-b375-48a5-91a7-07147f804532" alt="indeximage" style="height: 579px;width: 860px;display: block;margin-left: auto;margin-right: auto;" class="embed-responsive"> <br> <br> <br>
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-7 pb-2">
                <ul class="list-group">
                    <a href="{% url 'recentlyaddeditems' %}"><li class="list-group-item"><h4>Recently Added Items</h4></li></a>
                    <br>
                    <h4><strong>OR</strong></h4>
                    <a href="{% url 'youritinerary' 'PERSONAL PRODUCTIVITY' %}"><li class="list-group-item"><h4>Productivity</h4></li></a>
                    <br>
                    <h4><strong>OR</strong></h4>
                    <br>
                    <a href="{% url 'youritinerary' 'PERSONAL LEISURE' %}"><li class="list-group-item"><h4>Leisure</h4></li></a>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Jumbotron -->
{% endblock %}